/********************************/
/* Foglio di stile del progetto */
/********************************/

* {
    font-family: 'Ubuntu', sans-serif;
}


/* Stili del grid container e dei suoi elementi */
.grid-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'left middle right'
        'footer footer footer';
}

.header {
    grid-area: header;
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
    background-color: #ffffff;
    padding: 10px;
}


/* Layout adattivo - cambia con la dimensione dello schermo */
@media (max-width: 600px) {
    .grid-container {
        grid-template-areas:
            'header header header header header'
            'left left left left left'
            'middle middle middle middle middle'
            'right right right right right'
            'footer footer footer footer footer';
    }
}

/* Stile elemento "map" */
.map {
    height: 100vh;
    width: 66vw;
}

/* Stile del puntatore popup */
.overlay-container {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(0,0,0);
    opacity: 1;
}

/* Stili dei pulsanti "azione" */
#select_feature {
    position: relative;
    z-index: 500;
    top: 1%;
}

#modify_feature {
    position: relative;
    z-index: 500;
    top: 1%;
}

#login {
    position: relative;
    z-index: 500;
    top: 1%;
}


#toggle_editing {
    position: relative;
    z-index: 500;
    top: 1%;
}

#get_info {
    position: relative;
    z-index: 500;
    top: 1%;
}

button {
    border-radius: 6px;
}