* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

button {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgb(143, 218, 221);
  border-radius: 6px;
}


/*
.overlay-text{
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(58, 59, 59, 0.842);
  border-radius: 6px;
}*/
/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header'
    'left middle right'
    'footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

/*
.grid-container{
  display: grid;
  grid-template-columns: 20vW 60vW 20vW;
  grid-template-rows: 100vh
}
*/

/* Style the header */
.header {
  grid-area: header;
  background-color: #ffffff;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}


/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #ffffff;
  padding: 10px;
  /*text-align: center;*/
}

table,
td,
th {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container {
    grid-template-areas:
      'header header header header header'
      'left left left left left'
      'middle middle middle middle middle'
      'right right right right right'
      'footer footer footer footer footer';
  }
}

/* lo stile di "map" deve essere mantenuto in questa maniera SEMPRE
   al più si può solo cambiare il valore degli attributi */
.map {
  height: 80vh;
  width: 66vw;
  /*text-align: center;*/
}

/* Feature Overlay */
/* Pop-up coordinate punto scelto dall'utente */
.overlay-container {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: rgb(0,0,0);
    opacity: 1;
}
/*
.overlay-container #feature-info::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-color: transparent transparent transparent transparent;
  border-style: solid;
}*/


#select_feature {
  position: relative;
  z-index: 500;
  top: 1%;
  /*left: 20px;*/

}

#modify_feature {
  position: relative;
  z-index: 500;
  top: 1%;
  /*left: 20px;*/
}

#login {
  position: relative;
  z-index: 500;
  top: 1%;
  /*left: 20px;*/
}


#toggle_editing {
  position: relative;
  z-index: 500;
  top: 1%;
  /*left: 20px;*/
}

#get_info {
  position: relative;
  z-index: 500;
  top: 1%;
  /*left: 20px;*/
}

/**/